<h1><%=t :about_nyymi %></h1>

<%=t :information_for_company_text %>

<!DOCTYPE html>
<head>
  <title>Pusher Test</title>
  <script>
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher('f510b36c2a7566d4a93a', {
      encrypted: true
    });
    var channel = pusher.subscribe('test_channel');
    channel.bind('my_event', function(data) {
      alert(data.message);
    });
  </script>
</head>